@font-face {
	font-family: 'anirbFontBold';
     src:url('../fonts/anirb___.eot?v=4.6.3');
     src:url('../fonts/anirb___.eot?#iefix&v=4.6.3') format('embedded-opentype'),
          url('../fonts/anirb___.woff2?v=4.6.3') format('woff2'),
          url('../fonts/anirb___.woff?v=4.6.3') format('woff'),
          url('../fonts/anirb___.ttf?v=4.6.3') format('truetype'),
          url('../fonts/anirb___.svg?v=4.6.3#anirb___regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'anirbFont';
     src:url('../fonts/anirm___.eot?v=4.6.3');
     src:url('../fonts/anirm___.eot?#iefix&v=4.6.3') format('embedded-opentype'),
          url('../fonts/anirm___.woff2?v=4.6.3') format('woff2'),
          url('../fonts/anirm___.woff?v=4.6.3') format('woff'),
          url('../fonts/anirm___.ttf?v=4.6.3') format('truetype'),
          url('../fonts/anirm___.svg?v=4.6.3#anirb___regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
